DATA_PATH_HOST=./.data

# Elastic Search
ES_VERSION=7.5.2
ES_PORT=9200
ES_PASSWORD=RootPwd

# RabbitMQ
RABBITMQ_VERSION=3.12.2-management
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_USERNAME=root
RABBITMQ_PASSWORD=RootPwd

# Redis
REDIS_VERSION=7.0.12-alpine
REDIS_HOST_PORT=6379
REDIS_PASSWORD=RootPwd

# RabbitMQ
RABBITMQ_VERSION=3.12.2-management
RABBITMQ_HOST_PORT=15672